/* css reset */
html, body {
  margin: 0;
  padding: 0;
  background: #EEF1F6
}

form {
  width: 100%;
}

.form-error {
  color: red;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
}


div, p, span, button, h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.field-errors {
  width: 100%;
}
